[Unit]
Description=Clevo Notebook Fan Control and Indicator


[Service]
ExecStart=/home/architect/dev/clevo-fan-control/clevo-indicator/bin/clevo-indicator
Type=dbus

[Install]
WantedBy=multi-user.target

