[Unit]
Description=Clevo Notebook Fan Control and Indicator
StartLimitIntervalSec=0[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=~/dev/clevo-fan-control/clevo-indicator/bin/clevo-indicator

[Install]
WantedBy=multi-user.target
